{% extends 'layout.html.twig' %}

{% trans_default_domain 'home' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block content %}
    {#<div class="container">
        <ul>
            <li>
                <a href="{{ path('users_all') }}" class="btn btn-primary">Get Users</a>
            </li>
            <li>
                <a href="{{ path('user_new') }}" class="btn btn-primary">New User</a>
            </li>
        </ul>
        <input type="text" placeholder="search">
        <a href="" class="btn btn-primary">Search</a>
    </div>#}
    <section>
        <div class="container">
            <h1>{{ 'home.welcome'|trans }} {{ site_name }}</h1>
        </div>
    </section>
{% endblock %}

