{% extends 'layout.html.twig' %}

{% trans_default_domain 'user' %}

{% block title %}{{ user }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="well">
            <h2>{{ user }}</h2>
        </div>
    </div>

    <div class="container">
        <table class="table table-responsive table-hover">
            <thead>
            <tr>
                <th>{{ 'user.name'|trans }}</th>
                <th>{{ 'user.last_name'|trans }}</th>
                <th>{{ 'user.email'|trans }}</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            </tbody>

        </table>
    </div>

{% endblock %}
