{% extends 'layout.html.twig' %}

{% trans_default_domain 'alias' %}

{% block title %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ 'alias.title_admin'|trans }}
    {% else %}
        {{ 'alias.title_user'|trans }} {{ app.user }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="well">
            {% if is_granted('ROLE_ADMIN') %}
                <h2>{{ 'alias.title_admin'|trans }}</h2>
            {% else %}
                <h2>{{ 'alias.title_user'|trans }} {{ app.user }}</h2>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>{{ 'alias.name'|trans }}</th>
                <th>{{ 'alias.origin'|trans }}</th>
                <th>{{ 'alias.user'|trans }}</th>
                {% if not is_granted('ROLE_ADMIN') %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for item in alias %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.origin }}</td>
                    <td>{{ item.user }}</td>
                    {% if not is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('alias_edit', {'user_id' : app.user.id, 'alias_id': item.id }) }}" class="btn btn-default">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a type="button" class="btn btn-default" data-toggle="modal" data-target="#{#{ socio.id }#}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}
